body
{
background-color:lightpink;
text-align: center;
font-family: cursive; 

}

.name_of_objects
{
color: lightgoldenrodyellow;
}

#result_object_name
{
  color: lightgoldenrodyellow;  
}

#result_object_accuracy
{
 color: lightgoldenrodyellow;  
}   


#camera
{
border: 2px dashed black;
width: 350px;
height: 350px;
border-color: lightgoldenrodyellow;
}



